<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.6.2"/>
		<httpRuntime targetFramework="4.6" requestPathInvalidCharacters="" />
	</system.web>
	<appSettings>
		<!--网站名字-->
		<add key="webname" value="Download Center"/>
		<!--权限key:
			文件会有权限要求,无需任何权限为0
			如果不设置权限,默认不需要权限即可访问
			允许拥有全部权限为 255
		-->
		<add key="permission_255" value="adminpassword"/>
		<!--自动生成或未列出的目录所需要的权限-->
		<add key="permission_auto" value="0"/>
		<!--兼容URLReWrite-->
		<add key="urlrewrite" value="false"/>

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--
	  //如需使用URLReWrite功能请取消注释
	-/->
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="download" enabled="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.aspx?rootPath={R:0}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	-->
</configuration>